div.footer-container.container-fluid
	include links-mobile.pug
	span
		| Made with 
		span(alt=Love) &#10084;&#65039;
		|  By 
		a(href="https://github.com/Berkays" target="_blank") Berkay Gürsoy
	small
		a(href="https://github.com/Berkays/berkaygursoy" target="_blank") Source
	small.my-2
		a(href="https://www.flaticon.com/free-icons/alphabet" title="alphabet icons") Alphabet icons created by Md Tanvirul Haque - Flaticon