extends layout.pug

block content
	section#about.body-container.container
		.body-title.text-white.text-center.text-sm-start
			b About Me
		.row
			.content.col-12.col-md-8.order-2.order-md-1
				| Hello! My name is Berkay and I enjoy creating things that live on the internet. I have interest in pretty much anything that involves some form of technology. My passion for computers started with video games when I was couple of years old. This enthusiasm continued with me starting programming with C# and doing hobby projects in most of my free time back in around 2010 which corresponds to over 10 years of programming experience.
			img.profile-img.col-12.col-md-4.order-1.order-md-2.mx-auto.mb-4.mb-md-0(src="./assets/photo.jpeg" alt="Profile Image")
		.content
			| Today, I am still excited for the new improvements, methodologies and the technologies in the field and trying to learn as much as I can.
			| I have an extra interest mainly for software architecture and backend engineering.
		.content
			b Currently, I am actively looking for a job preferably in a Backend Engineering/Software Architecture role.
		br
		h2 Work Experience
		ul.experience-list
			li 
				h5.organization-title
					| Software Engineering Intern @ CODEN
				hr
				ul 
					li 
						.work-content
							| Built 5+ end user workflow automation solutions using eBA Workflow Designer taking advantage
							| of custom scripting using C# and MSSQL.
					li 
						.work-content
							| Built a mobile application prototype enabling access to CODEN services through application in
							| Xamarin.Android
			li 
				h5.organization-title 
					| Software Engineering Intern @ Hitsoft
				hr
				ul 
					li 
						.work-content
							| Took part as a full stack engineer on a hotel loyalty reward system based on libra(diem)
							| blockchain. Utilized Python and Angular for main hotel application. 
					li 
						.work-content
							| Built an experimental libra
							| wallet API using Docker containers, VueJS, and ExpressJS framework.
					li 
						.work-content
							| Integrated git, unit tests, docker containerization, JS build systems, CI/CD into existing projects
							| and made presentation for co-workers about git collaboration and build systems.
			li 
				h5.organization-title 
					| Embedded Firmware/Electronics Engineer @ Biga Organik Tarım Hayvancılık
				hr
				ul 
					li 
						.work-content
							| Designed a custom digital circuit that is used in a patented portable thawing & artificial
							| insemination device which aims to ease and speed up the process. 
					li 
						.work-content
							| Responsible for the engineering of both hardware and firmware (C++) part of the device. Device is expected to
							| release in 2022.
			li 
				h5.organization-title 
					| Freelance Software Developer May 2013 - present
				hr
				ul 
					li
						.work-content
							| Working as freelancer for individuals who need a custom software. Frontend & Backend
							| development, Mobile application development, Embedded firmware and data processing scripts
							| are generally the scope of work I have done as a freelancer.