extends layout.pug

block content
	.body-container
		.body-title
			h1 Hi! I'm Berkay
			| A Software engineer who 
			b loves
			br 
			| working with software architecture & backend engineering.
		div
			a(href="/about")
				h1 - Learn more about me
			a(href="/projects")
				h1 - See my projects
			a(href="https://github.com/Berkays" aria-label="GitHub" target="_blank" rel="noreferrer")
				h1 - Visit my Github profile