extends layout.pug

block content
		section#projects.body-container.container
			.body-title.text-white.text-center.text-sm-start
				b My Projects
			hr.color-int-border
			ul.projects-list 
				li 
					.project-container
						.project-title Yeelight C# Library
						.project-description-container
							.project-description C#.NET library for controllin Xiaomi Yeelight smart bulb devices over local network. Fluent interface is used to simplify the library consumption.
							.project-stack-container
								span Tech Stack:
								.row
									span.col C#
							.project-links 
								div
									a(href="https://www.nuget.org/packages/YeelightNET" aria-label="Nuget" target="_blank" rel="noreferrer")
										svg(xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 48 48" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
											title Nuget
											g(id="Expanded")
												path(d="M14.101,42.314c-1.87,0-3.628-0.729-4.95-2.051L7.736,38.85c-2.729-2.729-2.729-7.171,0-9.899l9.192-9.192     c1.322-1.322,3.08-2.051,4.95-2.051s3.628,0.729,4.949,2.051l1.414,1.414c0.391,0.391,0.391,1.023,0,1.414s-1.023,0.391-1.414,0     l-1.414-1.414c-0.944-0.944-2.2-1.465-3.535-1.465c-1.336,0-2.592,0.521-3.536,1.465L9.15,30.364     c-1.949,1.949-1.949,5.121,0,7.071l1.414,1.414c0.944,0.944,2.2,1.465,3.536,1.465c1.335,0,2.591-0.521,3.535-1.465L24,32.485 c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414l-6.364,6.364C17.729,41.586,15.971,42.314,14.101,42.314z")
												path(d="M26.121,30.293c-1.869,0-3.628-0.729-4.949-2.051c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0 c0.944,0.944,2.2,1.465,3.535,1.465c1.336,0,2.592-0.521,3.536-1.465l9.192-9.192c1.949-1.949,1.949-5.121,0-7.07L37.436,9.15 c-1.949-1.949-5.122-1.949-7.071,0L24,15.515c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414l6.364-6.364 c2.729-2.729,7.17-2.729,9.899,0l1.414,1.415c2.729,2.729,2.729,7.17,0,9.898l-9.192,9.192 C29.75,29.564,27.991,30.293,26.121,30.293z")
								div
									a(href="https://github.com/Berkays/Yeelight.NET" aria-label="GitHub" target="_blank" rel="noreferrer")
										svg(xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
											title GitHub Repository
											path(d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22")
				li 
					.project-container
						.project-title Paratrooper
						.project-description-container
							.project-description Fast and Accurate word-by-word text similarity and text clustering API. Built with C# and Azure app functions for serverless architecture.
							.project-stack-container
								span Tech Stack:
								.row
									span.col C#
									span.col Azure App Functions
							.project-links 
								div
									a(href="https://rapidapi.com/berkaygursoy/api/paratrooper" aria-label="web" target="_blank" rel="noreferrer")
										svg(xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 48 48" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
											title RapidApi
											g(id="Expanded")
												path(d="M14.101,42.314c-1.87,0-3.628-0.729-4.95-2.051L7.736,38.85c-2.729-2.729-2.729-7.171,0-9.899l9.192-9.192     c1.322-1.322,3.08-2.051,4.95-2.051s3.628,0.729,4.949,2.051l1.414,1.414c0.391,0.391,0.391,1.023,0,1.414s-1.023,0.391-1.414,0     l-1.414-1.414c-0.944-0.944-2.2-1.465-3.535-1.465c-1.336,0-2.592,0.521-3.536,1.465L9.15,30.364     c-1.949,1.949-1.949,5.121,0,7.071l1.414,1.414c0.944,0.944,2.2,1.465,3.536,1.465c1.335,0,2.591-0.521,3.535-1.465L24,32.485 c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414l-6.364,6.364C17.729,41.586,15.971,42.314,14.101,42.314z")
												path(d="M26.121,30.293c-1.869,0-3.628-0.729-4.949-2.051c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0 c0.944,0.944,2.2,1.465,3.535,1.465c1.336,0,2.592-0.521,3.536-1.465l9.192-9.192c1.949-1.949,1.949-5.121,0-7.07L37.436,9.15 c-1.949-1.949-5.122-1.949-7.071,0L24,15.515c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414l6.364-6.364 c2.729-2.729,7.17-2.729,9.899,0l1.414,1.415c2.729,2.729,2.729,7.17,0,9.898l-9.192,9.192 C29.75,29.564,27.991,30.293,26.121,30.293z")
				li 
					.project-container
						.project-title Muhaseberobotu.com (Ongoing)
						.project-description-container
							.project-description 
								div A web application with a set of tools to speed up some Turkish accounting pipeline for invoices.
							.project-stack-container
								span Tech Stack:
								.row
									span.col NodeJS/Typescript
									span.col Docker 
									span.col PostgreSQL
									span.col React
									span.col C#/Azure Functions
									span.col RabbitMQ
									span.col Heroku 
									span.col Python 
									span.col Tensorflow/ML
							.project-links 
								div
									a(href="https://muhaseberobotu.com" aria-label="web" target="_blank" rel="noreferrer")
										svg(xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 48 48" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
											title Website
											g(id="Expanded")
												path(d="M14.101,42.314c-1.87,0-3.628-0.729-4.95-2.051L7.736,38.85c-2.729-2.729-2.729-7.171,0-9.899l9.192-9.192     c1.322-1.322,3.08-2.051,4.95-2.051s3.628,0.729,4.949,2.051l1.414,1.414c0.391,0.391,0.391,1.023,0,1.414s-1.023,0.391-1.414,0     l-1.414-1.414c-0.944-0.944-2.2-1.465-3.535-1.465c-1.336,0-2.592,0.521-3.536,1.465L9.15,30.364     c-1.949,1.949-1.949,5.121,0,7.071l1.414,1.414c0.944,0.944,2.2,1.465,3.536,1.465c1.335,0,2.591-0.521,3.535-1.465L24,32.485 c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414l-6.364,6.364C17.729,41.586,15.971,42.314,14.101,42.314z")
												path(d="M26.121,30.293c-1.869,0-3.628-0.729-4.949-2.051c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0 c0.944,0.944,2.2,1.465,3.535,1.465c1.336,0,2.592-0.521,3.536-1.465l9.192-9.192c1.949-1.949,1.949-5.121,0-7.07L37.436,9.15 c-1.949-1.949-5.122-1.949-7.071,0L24,15.515c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414l6.364-6.364 c2.729-2.729,7.17-2.729,9.899,0l1.414,1.415c2.729,2.729,2.729,7.17,0,9.898l-9.192,9.192 C29.75,29.564,27.991,30.293,26.121,30.293z")
				li 
					.project-container
						.project-title LED World Clock
						.project-description-container
							.project-description 
								div An embedded firmware and a mobile application frontend for controlling a custom built clock. Clock is shaped in form of a circular projection of the world where an LED strip is used to simulate lightning from the sun. React Native application talks to the microcontroller through Bluetooth protocol and can control various properties of the clock.
							.project-stack-container 
								span Tech Stack:
								.row
									span.col C++
									span.col React Native
									span.col Typescript
							.project-links 
								div
									a(href="https://github.com/Berkays/WorldClockSystem" aria-label="Github" target="_blank" rel="noreferrer")
										svg(xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
											title Microcontroller firmware github repository
											path(d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22")
								div
									a(href="https://github.com/Berkays/WorldClockApp" aria-label="Github" target="_blank" rel="noreferrer")
										svg(xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
											title React Native application github repository
											path(d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22")
				li 
					.project-container
						.project-title Pinsel
						.project-description-container
							.project-description 
								div Pinsel is a fully decentralized art licensing and backing platform which aims to provide lower comission costs and reduce infrastructure expenses by utilizing p2p protocols such as IPFS and Ethereum Blockchain.
							.project-stack-container 
								span Tech Stack:
								.row 
									span.col Docker 
									span.col JS/HTML/CSS
									span.col NodeJS
									span.col Ethereum
									span.col Solidity 
									span.col IPFS
							.project-links 
								div
									a(href="https://github.com/Berkays/Pinsel" aria-label="Github" target="_blank" rel="noreferrer")
										svg(xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
											title Github repository
											path(d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22")
				li 
					.project-container
						.project-title Davinci
						.project-description-container
							.project-description 
								div Instagram-like photo application where people follow topics instead of other people. Uses C# Xamarin for Android application. Javascript with MongoDB is used for backend.
							.project-stack-container 
								span Tech Stack:
								.row
									span.col C#
									span.col Xamarin Android
									span.col Javascript
									span.col MongoDB
							.project-links 
								div
									a(href="https://github.com/Berkays/DavinciApi" aria-label="Github" target="_blank" rel="noreferrer")
										svg(xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
											title Rest API Github repository
											path(d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22")
								div
									a(href="https://github.com/Berkays/DaVinci-App" aria-label="Github" target="_blank" rel="noreferrer")
										svg(xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
											title Xamarin Android application Github repository
											path(d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22")