html {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
body {
	position: relative;
	flex-grow: 1;
	width: 100%;
	margin: 0;
	padding: 0;
	padding-bottom: calc(var(--footer-height) * 1.5);
	font-family: 'Open Sans', sans-serif;

	background-color: var(--color-bg);
	color: white;
}

:root {
	--color-bg: #1b0533;
	--color-line: #8d4ad3;
	--color-int: #00b400;

	--footer-height: 100px;
}

.color-int-border {
	border-color: var(--color-int);
}

a {
	text-decoration: none;
	text-decoration-skip-ink: auto;
	color: inherit;

	&:hover {
		color: var(--color-int);
	}
}

.navbar {
	height: 90px;
	background-color: rgb(255, 255, 255);
	padding: 0 40px 0 40px;
	display: flex;
	flex-direction: row;

	box-shadow: rgba(255, 255, 255, 0.07) 0px 1px 2px, rgba(255, 255, 255, 0.07) 0px 2px,
		rgba(255, 255, 255, 0.07) 0px 4px 8px, rgba(255, 255, 255, 0.07) 0px 8px 16px,
		rgba(255, 255, 255, 0.07) 0px 16px 32px, rgba(255, 255, 255, 0.07) 0px 32px 64px;
}

.navbar-logo {
	height: 50%;
	aspect-ratio: 1;
	margin-top: auto;
	margin-bottom: auto;
	color: black;
	fill: none;

	a {
		width: 100%;
		height: 100%;
		display: block;
		svg {
			width: 100%;
			height: 100%;
		}
	}
}

.navbar-title {
	align-self: center;
	color: black;
	font-weight: 600;
	font-size: 1.5rem;
	margin-left: 2rem;
}

.navbar-list {
	list-style: none;
	height: 100%;
	margin: 0 0 0 auto;
	padding: 0 !important;

	align-items: center;
	display: flex;
	flex-direction: row;

	li > a {
		text-decoration: solid;
		font-weight: 600;
		font-size: 1.1rem;
		padding-left: 0.85rem;
		padding-right: 0.85rem;
		display: block;
		transition: color 0.2s ease, transform 0.2s ease;
		color: #555;

		&.active {
			color: var(--color-int);
			text-decoration: underline solid var(--color-int) 2px;
			cursor: default;
		}

		&:hover:not(.active) {
			color: var(--color-bg);
			transition: color 0.2s ease, transform 0.2s ease;
			transform: scale(1.1);
		}
	}
}

.navbar-toggler {
	&:focus {
		outline: -webkit-focus-ring-color auto 1px;
		outline-color: -webkit-focus-ring-color;
		outline-style: auto;
		outline-width: 1px;

		box-shadow: none;
	}
}

footer {
	display: flex;
	position: absolute;
	bottom: 0;
	left: 0;
	max-height: var(--footer-height);
	width: 100%;

	text-align: center;
	justify-content: center;

	color: white;

	padding-top: 2rem;
	padding-bottom: 2rem;
	.footer-container {
		display: flex;
		flex-direction: column;

		align-self: center;
		font-weight: 700;
		span {
			padding: 0.5rem 0 0.5rem 0;
		}

		svg {
			width: 24px;
			height: 24px;
		}
	}
}

section#index {
	@media only screen and (max-width: 1095px) {
		max-width: 840px;
	}
	@media only screen and (min-width: 1100px) {
		padding-left: 9rem;
	}
}

section#about {
	@media only screen and (min-width: 1042px) {
		max-width: 940px;
	}
}

section#projects {
	margin-left: auto;
	margin-right: auto;
	@media only screen and (min-width: 1042px) {
		max-width: 940px;
	}
}

.body-container {
	margin-top: 6rem;

	.body-title {
		h1 {
			font-size: 5rem;
			margin-top: 0;
			margin-bottom: 0.5rem;
			color: white;
		}

		h2 {
			font-size: 2.5rem;
		}

		margin-bottom: 1.5rem;
		font-size: 2rem;
		color: rgb(180, 180, 180);
	}

	.content {
		&:not(:last-child) {
			margin-bottom: 2rem;
		}
		font-size: 1.25rem;
		line-height: 2rem;
		text-indent: 2rem;
		text-shadow: 0 0 0 var(--color-int), 0 0 1px transparent;
		text-rendering: optimizeLegibility;
		letter-spacing: 0.5px;
		text-align: justify;
	}

	.profile-img {
		margin-top: 1rem;
		max-width: 200px;
		height: 100%;
		aspect-ratio: 1;
		object-fit: cover;
		border-radius: 50%;

		// box-shadow: 1px 4px 19px -1px rgba(158, 158, 158, 0.84);
		// -webkit-box-shadow: 1px 4px 19px -1px rgba(158, 158, 158, 0.84);
		// -moz-box-shadow: 1px 4px 19px -1px rgba(158, 158, 158, 0.84);
	}
}

.fill-white {
	fill: white !important;
}

.links-container {
	width: 44px;
	position: absolute;
	top: 120px;
	bottom: 0px;
	z-index: 10;
	color: white;

	&.left {
		left: 40px;
		right: auto;
	}
	&.right {
		left: auto;
		right: 40px;
	}

	display: flex;
	flex-direction: column;

	.line-top {
		width: 1px;
		flex-grow: 2;
		margin: 0 auto 0 auto;
		background-color: var(--color-line);
	}

	.line-bottom {
		width: 1px;
		height: 150px;
		margin: 0 auto 1.25rem auto;
		background-color: var(--color-line);
	}

	.email {
		writing-mode: vertical-rl;
		text-orientation: mixed;
		margin-left: auto;
		margin-right: auto;
		font-weight: 400;
		text-transform: lowercase;
		font-size: large;
		letter-spacing: 1px;
		font-family: sans-serif;
	}

	.links-list {
		list-style: none;
		color: white;

		align-items: center;
		margin: 0px;
		padding: 0px;
		list-style: none;

		margin: 1.5rem 0 1.5rem 0;
		li {
			&:not(:last-child) {
				margin-bottom: 1rem;
			}
			padding: 0.25rem;
			width: 36px;
			a {
				display: block;

				svg {
					fill: none;
				}

				&:hover {
					color: #8d4ad3;
				}
			}
		}
	}
}

.mobile-links-container {
	flex-direction: row;
	justify-content: center;

	div {
		width: 32px;
		height: 32px;
	}
}

ul.experience-list {
	list-style: none;
	margin-top: 2rem;
	> li {
		&::before {
			content: '▸';
			color: rgb(0, 180, 0);
			padding-right: 0.5rem;
		}

		hr {
			border-color: var(--color-int);
		}

		ul {
			list-style: none;
			> li {
				position: relative;
				padding-left: 30px;
			}

			> li::before {
				content: '▸';
				position: absolute;
				left: 0px;
				top: 10px;
				color: #00b400;
				padding-right: 0.5rem;
			}
		}

		h5.organization-title {
			font-weight: 600;
			display: inline-block;
		}
		div.work-content {
			display: inline-block;
			font-weight: 400;
			font-size: 1.1rem;
			padding-top: 1rem;
			padding-bottom: 1.5rem;
			text-align: justify;
		}
	}
}

ul.projects-list {
	list-style: none;
	li {
		&:not(:first-child) {
			margin-top: 3rem;
		}
	}

	.project-container {
		width: 90%;
		margin-left: auto;
		margin-right: auto;

		.project-title {
			font-size: 1.5rem;
			font-weight: 600;

			margin-bottom: 1rem;
			padding-left: 2rem;
		}

		.project-description-container {
			font-weight: 400;
			font-size: 1.1rem;

			background-color: white;
			box-shadow: rgba(150, 150, 150, 0.25) 0px 54px 55px, rgba(150, 150, 150, 0.12) 0px -12px 30px,
				rgba(150, 150, 150, 0.12) 0px 4px 6px, rgba(150, 150, 150, 0.17) 0px 12px 13px,
				rgba(150, 150, 150, 0.09) 0px -3px 5px;
			color: black;
			border: 1px solid #333;
			padding: 2rem;
			border-radius: 1rem;

			transition: transform 0.05s ease;
			transform: translateZ(0);
			-webkit-font-smoothing: subpixel-antialiased;

			&:hover {
				transition: transform 0.05s ease;
				transform: scale(1.02);
				transform: translateZ(0);
				-webkit-font-smoothing: subpixel-antialiased;
			}

			.project-description {
				margin-bottom: 2rem;

				line-height: 2rem;
				text-shadow: 0 0 0 var(--color-int), 0 0 1px transparent;
				text-rendering: optimizeLegibility;
				letter-spacing: 0.5px;
			}
		}

		.project-stack-container {
			display: flex;
			flex-direction: row;

			margin-left: 1rem;

			> span {
				align-self: center;
				white-space: nowrap;
			}

			> .row {
				margin-left: 1rem;

				.row:not(:first-of-type) {
					padding-top: 0.5rem;
				}
			}

			.col {
				padding: 0.25rem 1rem 0.25rem 1rem;
				margin: 0.2rem;

				border: 1px solid #666;
				border-radius: 0.2rem;
			}
		}

		.project-links {
			display: flex;
			flex-direction: row;
			margin-left: 1rem;
			margin-top: 1rem;

			div {
				padding: 0.25rem;
				width: 48px;
				a {
					display: block;

					svg {
						fill: none;

						width: 32px;
						height: 32px;
					}

					&:hover {
						color: var(--color-int);
					}
				}
				&:not(:last-child) {
					padding-right: 1rem;
				}
			}
		}
	}
}

.ml10 {
	position: relative;
	font-weight: 900;
	font-size: 4em;
}

.ml10 .text-wrapper {
	position: relative;
	display: inline-block;
	padding-top: 0.2em;
	padding-right: 0.05em;
	padding-bottom: 0.1em;
	// overflow: hidden;
}

.ml10 .letter {
	display: inline-block;
	line-height: 1em;
	transform-origin: 0 0;
}
